<?xml version="1.0"?>
<doc>
    <assembly>
        <name>FHDW.Hotel.Web</name>
    </assembly>
    <members>
        <member name="T:FHDW.Hotel.Web.Controllers.AdminController">
            <summary>
            
            </summary>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.AdminController.#ctor">
            <summary>
            
            </summary>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.AdminController.Get(System.String,System.String)">
            <summary>
            Check if the given Logindata is valid and return an Adminobject.
            </summary>
            <param name="p_username">Username of the Admin.</param>
            <param name="p_password">Password of the Admin.</param>
            <returns>A valid Adminobject or NULL.</returns>
        </member>
        <member name="T:FHDW.Hotel.Web.Controllers.BaseController">
            <summary>
            The BaseController will be used as the super class for all controller.
            Redundant Methods and workloads will be handled here.
            </summary>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.BaseController.HandleBadRequestError(System.Exception)">
            <summary>
            
            </summary>
            <param name="p_exception"></param>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.BaseController.HandleUnauthorizationError(System.Exception)">
            <summary>
            
            </summary>
            <param name="p_exception"></param>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.BaseController.HandleForbiddenError(System.Exception)">
            <summary>
            
            </summary>
            <param name="p_exception"></param>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.BaseController.HandleNotFoundError(System.Exception)">
            <summary>
            
            </summary>
            <param name="p_exception"></param>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.BaseController.HandleNotAcceptableError(System.Exception)">
            <summary>
            
            </summary>
            <param name="p_exception"></param>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.BaseController.HandlRequestTimeoutError(System.Exception)">
            <summary>
            
            </summary>
            <param name="p_exception"></param>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.BaseController.HandleConflictError(System.Exception)">
            <summary>
            
            </summary>
            <param name="p_exception"></param>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.BaseController.HandleGoneError(System.Exception)">
            <summary>
            
            </summary>
            <param name="p_exception"></param>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.BaseController.HandleLengthRequiredError(System.Exception)">
            <summary>
            
            </summary>
            <param name="p_exception"></param>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.BaseController.HandlePreconditionFailedError(System.Exception)">
            <summary>
            
            </summary>
            <param name="p_exception"></param>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.BaseController.HandleExpectationFailedError(System.Exception)">
            <summary>
            
            </summary>
            <param name="p_exception"></param>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.BaseController.HandleInternalServerError(System.Exception)">
            <summary>
            
            </summary>
            <param name="p_exception"></param>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.BaseController.HandleGeneralError(System.Exception)">
            <summary>
            
            </summary>
            <param name="p_exception"></param>
            <returns></returns>
        </member>
        <member name="T:FHDW.Hotel.Web.Controllers.BookingController">
            <summary>
            
            </summary>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.BookingController.#ctor">
            <summary>
            
            </summary>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.BookingController.Get">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.BookingController.Get(System.Int32)">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.BookingController.Get(FHDW.Hotel.DomainModel.Guest)">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="T:FHDW.Hotel.Web.Controllers.GuestController">
            <summary>
            
            </summary>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.GuestController.#ctor">
            <summary>
            
            </summary>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.GuestController.Get">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.GuestController.Get(System.Int32)">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.GuestController.Get(System.String,System.String)">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.GuestController.Post(FHDW.Hotel.DomainModel.Guest)">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="T:FHDW.Hotel.Web.Controllers.HotelController">
            <summary>
            
            </summary>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.HotelController.#ctor">
            <summary>
            
            </summary>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.HotelController.Get">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.HotelController.Get(System.Int32)">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="T:FHDW.Hotel.Web.Controllers.RoomController">
            <summary>
            
            </summary>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.RoomController.#ctor">
            <summary>
            
            </summary>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.RoomController.Get">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.RoomController.Get(System.Int32)">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.RoomController.Get(FHDW.Hotel.DomainModel.Enums.RoomType)">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.RoomController.Get(FHDW.Hotel.DomainModel.Enums.RoomCategory)">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.RoomController.Get(System.DateTime,System.DateTime)">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.RoomController.Get(FHDW.Hotel.DomainModel.Hotel)">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.RoomController.Post(FHDW.Hotel.DomainModel.Room)">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.RoomController.Put(FHDW.Hotel.DomainModel.Room)">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.RoomController.Delete(System.Int32)">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="M:FHDW.Hotel.Web.Controllers.RoomController.Delete(FHDW.Hotel.DomainModel.Room)">
            <summary>
            
            </summary>
            <returns></returns>
        </member>
        <member name="T:FHDW.Hotel.Web.WebApiApplication">
            <summary>
            
            </summary>
        </member>
        <member name="M:FHDW.Hotel.Web.WebApiApplication.Application_Start">
            <summary>
            
            </summary>
        </member>
        <member name="M:FHDW.Hotel.Web.WebApiApplication.Register(System.Web.Http.HttpConfiguration)">
            <summary>
            
            </summary>
            <param name="config"></param>
        </member>
    </members>
</doc>
